<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.educationresources.mapper.BookMapper">

    <resultMap id="BaseResultMap" type="com.cms.educationresources.entity.Book">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="author" column="author" jdbcType="VARCHAR"/>
            <result property="subject" column="subject" jdbcType="VARCHAR"/>
            <result property="grade" column="grade" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="coverurl" column="coverUrl" jdbcType="VARCHAR"/>
            <result property="time" column="time" jdbcType="TIMESTAMP"/>
            <result property="isswiper" column="isSwiper" jdbcType="TINYINT"/>
            <result property="swiperpic" column="swiperPic" jdbcType="VARCHAR"/>
            <result property="swipersort" column="swiperSort" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,author,
        subject,grade,description,
        coverUrl,time,isSwiper,
        swiperPic,swiperSort
    </sql>
</mapper>
